<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OpenTRV/javasrc/uk/org/opentrv/comms/util/VeryBasicV0p2CLIFollower.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.org.opentrv.comms.util.VeryBasicV0p2CLIFollower"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/dev/tty.usbserial-FTGACM4G"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OpenTRV"/>
</launchConfiguration>
